---
layout: default
---

<article class="post">

  {%- assign heading = page.heading | default: page.title -%}
  {%- if heading -%}
    <h1 class="page-heading">{{ heading }}</h1>
  {%- endif -%}

  <!-- <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header> -->

  <div class = "post-content">

  	  {{ content }}

	  <table class="speakers-table" style="border-collapse: collapse; border: none;">
	  	<tr style="border: none;">
	  		<td style="border: none; width:15%;"> <p align="center"><b></b></p> </td>
	  		<td style="border: none; width:20%;"> <p align="center"><b>Speaker</b></p> </td>
	  		<td style="border: none; width:50%;"> <p align="center"><b>Talk</b></p> </td>
	  		<td style="border: none; width:15%;"> <p align="center"><b>YouTube link</b></p> </td>
	  	</tr>
	  	{% for speaker in site.speakers %}
	  	{% if speaker.season == page.season %}
		    <tr style="border: none;">
		        <td style="border: none; width:15%;">
		            <div>
		                <p align="center">
		                	{% if speaker.img %}
		                    	<img class="people-pic" src="{{ speaker.img | prepend: '/assets/img/speakers/' | relative_url }}" alt="{{ speaker.name }}" loading="lazy">
		                    {% endif %}
		                </p>
		            </div>
		        </td>
		        <td style="border: none; width:20%">
		            <div class="people-name text-center">
		            	<!-- Speaker name (link to webpage if provided) -->
		            	{% if speaker.webpage %}
		            		<b><a href="{{ speaker.webpage }}" target="_blank">{{ speaker.name }}</a></b>
		            	{% else %}
		            		<b>{{ speaker.name }}</b>
		            	{% endif %}
		                <br>
		                <!-- Speaker affiliation (if provided) -->
		                {% if speaker.position %}
	                		{{ speaker.position }} <br>
	                	{% endif %}
		                {% if speaker.affil_link %}
		                	<a href="{{ speaker.affil_link }}" target="_blank">{{ speaker.affil }}</a>
		                {% else %}
		                	{{ speaker.affil }}
		                {% endif %}
		                <!-- Additional speaker affiliation (if provided) -->
		                {% if speaker.position2 %}
	                		<br> {{ speaker.position2 }}
	                	{% endif %}
		                {% if speaker.affil2_link %}
		                	<br>
		                	<a href="{{ speaker.affil2_link }}" target="_blank">{{ speaker.affil2 }}</a>
		                {% elsif speaker.affil2 %}
		                	<br>
		                	{{ speaker.affil2 }}
		                {% endif %}
		            </div>
		        </td>
		        <td style="border: none; width:50%">
		        	<div class="people-name text-center">
		        		<b> {{ speaker.title }} </b>
		        		<br><span class="talk-date">{% include talk-date.html speaker=speaker separator=" · " %}</span>
		        		{% if speaker.abstract and speaker.abstract != "" %}
		        			<details class="talk-abstract">
		        				<summary>Abstract</summary>
		        				<p>{{ speaker.abstract | escape | newline_to_br }}</p>
		        			</details>
		        		{% endif %}
		        	</div>
		        </td>
		        <td style="border: none; width:15%;">
		        	{% if speaker.talklink %}
		        		<iframe width="270" height="160" src="{{ speaker.talklink | split: '?' | first }}" title="{{ speaker.name | escape }}: {{ speaker.title | escape }}" loading="lazy" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		        	{% endif %}
		        </td>
		    </tr>
		{% endif %}
	    {% endfor %}
	  </table>
  </div>

  {%- include talk-events.html -%}

</article>
